*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33em;
    color: #111111;
    background-color: #FAFAFA;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    cursor: pointer;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.container {
    max-width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
.title-style {
    width: 412px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17em;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;   
}
.title-spun {
    color: #FD9222;
}
.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.social-link-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
}
.social-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.social-container {
    display: flex;
    gap: 14px;
}
.navigation-text {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}
.navigation-text-container {
    display: flex;
    gap: 24px;
}

/* #region header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    
}
.logo-header {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
}
.italic {
    font-style: italic;
}
.header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 90px; 
}
.header-social-items {  
    width: 40px;
    height: 40px;
}
.social-link-header:hover,
.social-link-header:focus {
    border: 1px solid rgba(253, 146, 34, 0.1);
    fill: #FD9222;
}
/* #endregion */

/* #region hero */

.hero {
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.4);
    padding-top: 381px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-bottom: 80px; 
    background-image: url('../images/hero1.jpg');
    background-size: cover;
    background-position: center;
}
@media only screen and (min-resolution: 192dpi),
(min-device-pixel-ratio: 2) {
    .hero {
        background-image: url('../images/hero2.jpg');
    }
}
.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 484px;
    margin-bottom: 32px;
}
.hero-btn-conatiner {
    display: flex;
    justify-content: space-between;
}
.hero-btn {
    display: flex;
    gap: 14px;
}
.hero-btn-text {
    font-size: 14px;
    color: #FFFFFF;
    padding: 14px 40px;
    border-radius: 100px;  
}
.hero-btn-buy {
   display: block;
   border: none;
   background-color: #FD9222;
}
.hero-btn-buy:hover,
.hero-btn-buy:focus {
    background-color: #FCF1E0;
    color: #FD9222;
}
.hero-btn-how {
   display: block;
   border: 1px solid #FFFFFF;
   background-color: rgba(255, 255, 255, 0);
} 
.hero-btn-how:hover,
.hero-btn-how:focus {
    border: 1px solid #FD9222;
    color: #FD9222;
}
.hero-link-container {
    display: flex;
    align-items: center;
    gap: 14px;
}
.hero-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.hero-link-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: #FFFFFF;
}
/* #endregion */

/* #region benefits */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits {
    background-color: #1E1823;
    padding: 50px;
}
.benefits-items {
    display: flex;
    justify-content: center;
    gap: 88px;
}
.benefits-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-bottom: 22px;
}
.benefits-subtitlt {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22em;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.benefits-text {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.29em;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
        width: 308px;
        
}
.benefits-items-style {
    position: relative;

}

.benefits-line {
    position: absolute;
    top: 50%;
    right: -44px;
    transform: translateY(-50%);
    
}

/* #endregion */

/* #region taste */
.taste {
    padding-top: 120px;
    padding-bottom: 60px;
}
.taste-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 32px;
}
.taste-items-container {
    position: relative;
    width: 260px;
    height: 100%;
    border-radius: 15px;
    padding-left: 23px;
    padding-top: 28px;
    padding-right: 23px;
    padding-bottom: 28px;
}
.taste-arrow {
    position: absolute;
    top: 14px;
    right: 14px;
    
}
.taste-items-container-oranj {
    background-color: #FD9222;
}
.taste-items-container-border {
    border: 1px solid #FD9222;
}
.taste-items-container-black {
    background-color: #1E1823;
}
.taste-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 36px;
}
.taste-text-white {
    color: #FFFFFF;
}
/* #endregion */

/* #region made */
.made {
    padding-top: 60px;
    padding-bottom: 60px;
}
.made-img-radius {
    border-radius: 15px;
}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    width: 350px;
    margin-bottom: 28px;
}
.made-items-container {
    display: flex;
    gap: 20px;
}
.made-text-container {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 32px;
}
.made-items-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.made-items {
    display: flex;
    align-items: baseline;
    gap: 8px;
}
.made-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
}
.svg-container {
    width: 8px;
    height: 8px;
}
/* #endregion */

/* #region products */
.products {
    padding-top: 60px;
    padding-bottom: 60px;
}
.products-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 18px;
}
.products-items-style {
    width: 270px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    padding-left: 20px;
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 32px;
}
.products-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 2px;
}
.products-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}
.products-btn {
    font-weight: 600;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 8px;
    padding-right: 19px;
    padding-bottom: 8px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    background-color: #FAFAFA;
}
.products-text-conlainer {
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}
/* #endregion */

/* #region top */
.top {
    padding-top: 60px;
    padding-bottom: 60px;
}
.top-items {
    display: flex;
    gap: 16px;
}
.top-img-container {
    border-radius: 15px 15px 0 0;
    width: 368px;
    overflow: hidden; 
}
.top-text-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 0 0 15px 15px;
    background-color: #FFFFFF;
    padding-top: 28px;
    padding-bottom: 28px;
    width: 368px;
}
.top-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
/* #endregion */

/* #region loved */
.loved {
    padding-top: 60px;
    padding-bottom: 120px;
}
.loved-items {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}
.loved-items-container {
    margin-top: 40px;
    width: 360px;
    height: auto;
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding-top: 58px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.loved-img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: auto;
}
.loved-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.loved-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33em;
}
.loved-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29em;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}
.loved-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loved-btn {
    font-weight: 600;
    font-size: 18px;
    padding-left: 40px;
    padding-top: 14px;
    padding-right: 40px;
    padding-bottom: 14px;
    border: 1px solid #FD9222;
    border-radius: 100px;
    background-color: inherit;
}
.loved-btn:hover,
.loved-btn:focus {
    background-color: #FD9222;
    color: #FFFFFF;
}
/* #endregion */

/* #region footer */
.footer {
    padding-top: 50px;
    padding-bottom: 36px;
    background-color: #1E1823;
}
.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21em;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: 300px;
}
.footer-top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-items {
    display: flex;
    gap: 50px;
}
.footer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29em;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.footer-social {
    display: flex;
    gap: 14px;
}
.footer-social-items {
    width: 40px;
    height: 40px;
}
.footer-icons-style {
    fill: #FFFFFF;
}
.footer-address-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-address-style {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29em;
    letter-spacing: -0.02em;
    font-style: normal;
    color: #FFFFFF;
}
.footer-bottom-container {
    padding-top: 10px;
}
.style-white {
    color: #FFFFFF;
}

.social-link-footer:hover,
.social-link-footer:focus {
    border: 1px solid rgba(253, 146, 34, 0.1);
}
.social-link-footer:hover .footer-icons-style,
.social-link-footer:focus .footer-icons-style {
    fill: #FD9222;
}
/* #endregion */
